# Core Django stack
Django==4.2.9
django-environ==0.10.0
django-crispy-forms==2.1
crispy-tailwind==0.5.0
django-browser-reload==1.8.0
django-debug-toolbar==4.4.6
django-cryptography==1.1
django-encrypted-model-fields==0.6.5

# Banco de dados
sqlparse==0.4.4

# Frontend Tailwind
django-tailwind==3.5.0

# PDF e relatórios
WeasyPrint==62.3
reportlab==4.0.9
PyMuPDF==1.25.0
pypdf==4.3.1
pdfkit==1.0.0
xhtml2pdf==0.2.16

# Manipulação de ficheiros Excel
openpyxl==3.1.5

# Utilitários auxiliares
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.32.3

# Estilização e segurança
whitenoise==6.4.0
